@use '@angular/material' as mat;

html {
    color-scheme: dark;
    @include mat.theme((
      
      typography: Roboto,
      density: 0
    ));
  }

  :root {
    @include mat.snack-bar-overrides((
      container-color: #292929,
      supporting-text-color: white,
      button-color: rgba(255, 255, 255, 0.603),
    ));
  }
html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
