.admin-card {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #1f1f1f;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

mat-card-header {
  background-color: #1f1f1f; 
  color: white;
  padding-bottom: 15px;
}

mat-card-title {
  font-weight: bold;
  font-size: 1.5rem;
}

mat-card-subtitle {
  font-size: 1rem;
}

.actions {
  margin-bottom: 15px;
  text-align: right;
}

button {
  margin-right: 10px;
  background-color: #333333; 
  color: white;
  &:hover {
    background-color: #444444; 
  }
}

.mat-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #2c2c2c; 
}

.mat-header-cell,
.mat-cell {
  padding: 10px 15px;
  text-align: center;
  color: white; 
}

.mat-header-row {
  background-color: #333333; 
}

.mat-row {
  background-color: #2c2c2c;
}

.mat-row:hover {
  background-color: #383838;
}

button.mat-icon-button {
  margin-right: 10px;
  background-color: #333333;
  color: white;
  &:hover {
    background-color: #444444;
  }
}

button.mat-icon-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
