<!-- register.component.html -->
<div class="register-container">
  <mat-card class="register-card">
    <mat-card-header class="header">
      <h1 class="title">Create your account</h1>
    </mat-card-header>

    <mat-card-content>
      <div class="form-field">
        <mat-form-field appearance="outline" color="warn">
          <mat-label>Login</mat-label>
          <input matInput [(ngModel)]="login" class="input-field" />
          <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            [(ngModel)]="password"
            class="input-field"
          />
          <mat-icon matPrefix>lock_outline</mat-icon>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button class="register-button" (click) = "register()" mat-flat-button>Register</button>
    </mat-card-actions>
  </mat-card>
</div>
